.text-input {
  border: 1px solid #cacccd;
  height: 2.25em;
  border-radius: 5%;
  margin-right: 1em;
  font-size: $font-size-l;
  font-weight: 300;
  padding: $s-size;
}

.select {
  /* @extend .text-input; */
  width: 50%;
}

.select-right-input {
  /* to compensate for weird styling of  */
  margin-left: 1em;
}
